<script type="text/templates" id="login_base">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
    <div class="row main-container">
    	
        
    	
          <div class="large-5 large-offset-4 columns sign-up-wrapper">
    	   
           <div class="sign-up-heading">
                <span>Log In</span>
            </div>
        
            <div class="sign-up-manual">
                <form data-abide id="sign-up-manual">
                        
                   		 <input type="email" class="hynow-input" id="sign-up-email" placeholder="Email" required/>
                    	<input type="password" class="hynow-input" id="sign-up-password" placeholder="Password" required/>
                        <button type="submit"><span>Log In</span></button>
                </form>
            </div>

            <div class="already-a-member">
            <span class="default-grey">Not a member yet! </span><a href="signup" class="default-blue" data-backbone>Sign Up</a>
            </div>
        </div>
    </div>

    <div class="default-footer">
        <div class="footer-border"></div>
        <div class="footer-links">
            <ul>
                <li><a href="#">© 2105 Hack101</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</script>