<script type="text/templates" id="onboarding_base">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
    <div class="row main-container">
        
        
        
          <div class="large-5 large-offset-4 columns sign-up-wrapper">
           
           <div id="sign-up-heading">
                <span>I want to Look Up Land in </span>
            </div>
            <form data-abide id="location-cityselect-wrapper">
                <select id="select-city">
                <option value="bangalore">Bangalore</option>
                <option value="others">More to come soon...</option>
                </select>
                 
            </form>
        </div>
    </div>
        
    <div class="row main-container">
        <div class="large-5 large-offset-4 columns">
            <form data-abide id="location-select-wrapper">
                <span> Lets get started with a quick question... <span>
                <br>
                <span>For what purpose you are looking for to buy ? </span> 
                <select id="select-pupose">
                <option value="personal">Personal Use</option>
                <option value="commercial">Commercial</option>
                <option value="investment">Investment</option>
                <option value="others">Others</option>
                </select>
                     <button id="submit-city" type="submit">Look Up</button>
            </form>
        </div>
    </div>

    <div class="default-footer">
        <div class="footer-border"></div>
        <div class="footer-links">
            <ul>
                <li><a href="#">© 2105 Hack101</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</script>